
@import "vars";

//-----REM-----
html{
  font-size: 10px;
  @include primaryFont;
}
//-----RESET-----

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
h1, h2, h3{
  margin: 0;
}
textarea{
  padding: 0;
}
input, textarea{
  border: none;
  background: transparent;
}
button{
  border: none;
  text-decoration: none;
  background: transparent;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
// ---------------------------------- UTIL CLASSES ------------------------------------------------

// ---------------------------------------- BLOCKS ------------------------------------------------
.container{
  margin: 0 auto;
}



