{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "warn"
  },
  "env": {
    "es6": false,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ]
}