.about{
  &__container{
    @media (max-width: 680px) {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
  &__content{
    display: flex;
    @media (max-width: 680px) {
      flex-flow: column;
      align-items: center;
    }
  }
  &__picture{
    background-repeat: no-repeat;
    background-position: center top;
    flex-basis: 42.5%;
    @media (max-width: 1024px) {
      background-position: 20px center;
    }
    @media (max-width: 768px) {
      background-position: left center;
    }
    @media (max-width: 680px) {
      background-size: contain;
      flex-basis: auto;
      width: 70px;
      height: 70px;
      margin-bottom: 35px;
    }
  }
  &__article{
    flex-basis: 57.5%;
  }
  &__title{
    margin-bottom: 25px;
    @media (max-width: 680px) {
      text-align: center;
    }
  }
  &__description-text{
    margin-bottom: 27px;
    & p{
      margin-bottom: 26px;
      &:last-child{
        margin: 0;
      }
    }
  }
  &__button{

  }
  &__video{

  }

}
// ----------------------------------------- video ---------------------------------------------------------
.video{
  width: 100%;
  position: relative;
  padding: 42.55% 0 0 0;
  &__player{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
  }
}
// --------------------------------------------preview-video ----------------------------------------------------------
.preview-video {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  transition: 1s;
  &__overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.891;
    position: absolute;
    transition: 1s;
  }
  &__text{
    @include robotoBlack;
    font-size: 16px;
    color: rgb(255, 255, 255);
    z-index: 1;
    margin-top: 10px;
    opacity: 0;
    transition: .6s;
    @media (max-width: 680px) {
      opacity: 1;
      margin-top: 20px;
      font-size: 14px;
    }
    @media (max-width: 680px) {
      margin-top: 10px;
    }
  }
  @media (min-width: 681px) {
    &:hover{
      .preview-video__overlay{
        opacity: 0.8;
      }
      .preview-video__play-button{
        transform: scale(1.05);
      }
      .preview-video__text{
        margin-top: 28px;
        opacity: 1;
      }
    }
  }
  &_fading{
    opacity: 0;
    .play-button{
      transition: .4s;
      margin-bottom: 20px;
      transform: scale(1.4);
      @media (max-width: 680px) {
        transform: scale(1.1);
      }
    }
    .preview-video__text{
      transition: .4s;
      opacity: 0;

    }
  }
}
// -------------------------------------------play-button ----------------------------------------------------------
.play-button{
  z-index: 1;
  transition: 0.2s;
  &__circle{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 94px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 680px) {
      width: 94px*0.8;
      height: 94px*0.8;
    }
    @media (max-width: 500px) {
      width: 94px*0.6;
      height: 94px*0.6;
      border-width: 2px;
    }
  }
  &__triangle{
    position: relative;
    left: 5px;
    transition: .2s;
    &_active{
      transform: scale(0.9);
    }
    @media (max-width: 680px) {
      width: 37px*0.8;
      height: 45px*0.8;
    }
    @media (max-width: 500px) {
      width: 37px*0.6;
      height: 45px*0.6;
      left: 4px;
    }
  }
}