.expertise {
  &__container {
    padding-bottom: 50px;
    @media (max-width: 850px) {
      padding-top: 35px;
      padding-bottom: 10px;
    }
  }

  &__content {
    padding-top: 40px;
    @media (max-width: 850px) {
      display: flex;
      justify-content: center;
    }
    @media (max-width: 540px) {
      flex-flow: column;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &:first-child {
      border-bottom: 1px solid #ebebeb;
      @media (max-width: 850px) {
        border: none;
        margin-right: 50px;
      }
      @media (max-width: 540px) {
        margin: 0;
      }
    }

    @media (max-width: 850px) {
      flex-flow: column;
      justify-content: flex-start;
    }
  }

  &__col {
    flex: 0 1 300px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    @media (max-width: 540px) {
      padding: 20px 0;
      flex: 0 1 auto;
    }
  }
}

// -------------------------------------------item-expertise-----------------------------------------------------------
.item-expertise {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  max-width: 255px;

  &__picture {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__title {
    @include robotoBlack;
    font-size: 14px;
    color: rgb(65, 61, 75);
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 33px;
    @media (min-width: 1750px) {
      font-size: 16px;
    }
  }
}