.quotes{
  background-size: cover;
  position: relative;
  background-image: url("../images/bg/quotes-bg.png");
  @media (max-width: 992px) {
    background-image: url("../images/bg/quotes-bg-992.jpg");
  }
  @media (max-width: 500px) {
    background-image: url("../images/bg/quotes-bg-500.jpg");
  }
  &__container{
    padding-right: 90px;
    padding-left: 90px;
    @media (max-width: 992px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media (max-width: 676px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  &__slider{

  }
  &__pagination-slider{
    margin: 45px auto 0;
    @media (max-width: 676px) {
      margin-top: 35px;
    }
  }
}
// ------------------------------ quotes-slide-content -----------------------------------------------------------------
.quotes-slide-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 250px;
  &__quotes-char {
    @include playfairRegular;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.902);
    position: absolute;
    top: -27px; left: 50%;
    transform: translateX(-50%);
  }
  &__quote {
    @include playfairRegular;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.625;
    margin-top: 60px;
    flex: 1 1 auto;
  }
  &__footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
  }
  &__name {
    @include robotoBlack;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.571;
    text-transform: uppercase;
    @media (min-width: 1750px) {
      font-size: 16px;
    }
  }
  &__position {
    @include  robotoLight;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.692;
    @media (min-width: 1750px) {
      font-size: 15px;
    }
  }
}
// --------------------------------------- pagination-slider ----------------------------------------------------------
.pagination-slider{
  width: 320px;
  position: relative;
  @media (max-width: 499px) {
    width: 200px;
  }
  &__container{
  }
  &__wrapper{

  }
  &__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
  }
  &__portrait{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .3s;
  }
  &__button-prev, &__button-next{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
    &:after{
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid #9f9f9f;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &__button-prev{
    left: -45px;
    &:after{
      border-top: none;
      border-right: none;
    }
  }
  &__button-next{
    right: -45px;
    &:after{
      border-bottom: none;
      border-left: none;
    }
  }
  & .swiper-slide-active{
    width: 70px;
    height: 70px;
  }
  & .swiper-slide-active &__portrait{
    transform: scale(1.75);
  }
}