
//-----REM-----
html{
  font-size: 14px;
  @include robotoRegular;
}
//-----RESET-----
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
h1, h2, h3{
  margin: 0;
}
textarea{
  padding: 0;
}
input, textarea{
  border: none;
  background: transparent;
  outline: none;
}
button{
  border: none;
  text-decoration: none;
  background: transparent;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
// =================================== UTIL CLASSES ====================================================================
._hidden-overflow{
  overflow: hidden;
}
// ===================================== scroll behaviour ==============================================================
html{
  scroll-behavior: smooth;
}
// =====================================BLOCKS ========================================================================
// ------------- container -------------------------------------------------------------------------
.container{
  margin: 0 auto;
  max-width: 980px;
  padding: 70px 20px;
}
// ---------------------------------- logo ---------------------------------------------------------
.logo{
  display: flex;
  align-items: center;
  z-index: 3;
  & img{
    margin-right: 12px;
  }
  & span{
    @include robotoThin;
    font-size: 30px;
    color: #22bac6;
    text-align: center;
  }
}
// -------------------------------------------bg-overlay-------------------------------------------------------------
.bg-overlay{
    z-index: 0;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0; left: 0;
    background-image: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.851;
}
//------------------------------------------ button --------------------------------------------------------
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  color: rgb(0, 224, 208);
  border: 1px solid rgb(0, 224, 208);
  border-radius: 2px;
  position: relative;
  transition: 0.2s;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  &_big{
    width: 140px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    height: 130%;
    background-color: rgb(0, 224, 208);
    transition: 0.25s;
    z-index: -1;
    transform: skew(110deg);
    left: -250%;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    color: rgb(9, 5, 47);
  }
  &:hover::after {
    visibility: visible;
    left: -50%;
    opacity: 1;
  }
  &:active{
    border: 1px solid rgb(0, 160, 148);
  }
  &:active::after{
    background-color: rgb(0, 160, 148);
  }
}
// ------------------------------------ title ------------------------------------------------------------------------
.title{
  @include playfairBold;
  font-size: 22px;
  color: rgb(65, 61, 75);
  line-height: 1.2;
}
// ----------------------------------------- description-text ---------------------------------------------------------
.description-text{
  @include robotoLight;
  font-size: 14px;
  color: rgba(65, 61, 75, 0.749);
  line-height: 1.571;
}
// -------------------------------------------section-head-------------------------------------------------------------
.section-head{
  &__title{
    text-align: center;
    margin-bottom: 14px;
    text-transform: uppercase;

    position: relative;
    z-index: 1;
  }
  &__subtitle{
    @include playfairRegular;
    text-align: center;
    font-size: 14px;
    color: rgba(47, 45, 53, 0.749);
    line-height: 1.4;
    padding-bottom: 18px;
    position: relative;
    &:after{
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background-color: #c6c4c9;
      position: absolute;
      bottom: 0; left: 50%;
      transform: translateX(-50%);
    }
  }
  &_white{
    .section-head__title{
      color: rgb(255, 255, 255);
    }
    .section-head__subtitle{
      color: rgb(255, 255, 255);
      &:after{
        background-color: rgb(255, 255, 255);
        opacity: 0.2;
      }
    }
  }
}
