@import "vars";

//-----REM-----
html{
  font-size: 16px;
  @include robotoRegular;
}
//-----RESET-----
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
h1, h2, h3{
  margin: 0;
}
textarea{
  padding: 0;
}
input, textarea{
  border: none;
  background: transparent;
}
button{
  border: none;
  text-decoration: none;
  background: transparent;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
// =================================== UTIL CLASSES ====================================================================
._hidden-overflow{
  overflow: hidden;
}
// =====================================BLOCKS ========================================================================
// ------------- container ------------
.container{
  margin: 0 auto;
}
// ---------------------------------- logo ---------------------------------------------------------
.logo{
  display: flex;
  align-items: center;
  z-index: 1;
  & img{
    margin-right: 12px;
  }
  & span{
    @include robotoThin;
    font-size: 30px;
    color: #22bac6;
    text-align: center;
  }
}
//------------------------------------------ menu --------------------------------------------------------
.menu{
  display: flex;
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #362b59;
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    &_active{
      display: flex;
      z-index: 1;
    }
  }
  &__link{
    @include robotoBlack;
    font-size: 13px;
    margin-right: 25px;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      background-color: rgb(0, 224, 208);
      width: 0;
      bottom: -3px;
      left: 50%;
      transition: 0.2s ease-in-out;
    }
    &:hover:after{
      width: 100%;
      left: 0;
    }
    @media (max-width: 768px) {
      margin: 0 0 25px;
      font-size: 30px;
      &:last-child{
        margin: 0;
      }
      &:after{
        transition: none;
      }
    }
    &:last-child{
      margin-right: 0;
    }
    & a{
      color: rgb(255, 255, 255);
    }
    &_active{
      & a{
        color: rgb(0, 224, 208);
      }
      &:after{
        display: none;
      }
    }
  }
}
//------------------------------------------ burger --------------------------------------------------------
.burger{
  position: relative;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 40px;
    height: 25px;
    display: block;
    position: relative;
    z-index: 2;
    &:before, &:after {
      content: "";
      display: block;
      width: 100%;
      background-color: rgb(0, 224, 208);
      height: 3px;
      position: absolute;
      left: 0;
      transition: 0.5s;
    }
    &:before {
      top: 0;
    }
    &:after {
      top: 22px;
    }
    & span {
      content: "";
      display: block;
      width: 100%;
      background-color: rgb(0, 224, 208);
      height: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.5s;
    }
  }
  &_active{
    &:after, &:before{
      background-color: white;
      top: 50%;
      transform: translateY(-50%);
    }
    &:after{
      transform: rotate(135deg);
    }
    &:before{
      transform: rotate(-135deg);
    }
    & span{
      opacity: 0;
      background-color: white;
      transform: rotate(180deg);
    }
  }
}
//------------------------------------------header slider --------------------------------------------------------
.header-slider__container{
  & .swiper-pagination-bullet {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    width: 9px;
    height: 9px;
    transition: .2s;
  }
  & .swiper-pagination-bullet-active {
    background-color: rgb(0, 224, 208);
    border-color: rgb(0, 224, 208);
  }
}
// ---------------------------------------header-slide-content -------------------------------------------------------
.header-slide-content{
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
  min-height: 250px;
  margin-bottom: 127px;
  @media (max-width: 900px) {
    margin-bottom: 127px*0.8;
  }
  @media (max-width: 768px) {
    margin-bottom: 127px*0.5;
  }

  &__title{
    @include titleFontBlack;
    font-size: 32px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-bottom: 28px;
    margin-bottom: 24px;
    position: relative;
    @media (max-width: 768px) {
      font-size: 30px;
    }
    &:after{
      content: "";
      display: block;
      width: 50px;
      height: 1px;
      background-color: #00e0d0;
      position: absolute;
      bottom: 0; left: 50%;
      transform: translateX(-50%);
    }
  }
  &__description{
    @include robotoLight;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.714;
    flex: 1 1 auto;
  }
  &__button{
    margin-top: 20px;
  }
}
//------------------------------------------ button --------------------------------------------------------
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  color: rgb(0, 224, 208);
  border: 1px solid rgb(0, 224, 208);
  border-radius: 2px;
  position: relative;
  transition: 0.2s;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    display: block;
    visibility: hidden;
    position: absolute;
    width: 110%;
    height: 300%;
    background-color: rgb(0, 224, 208);
    left: -110%;
    top: -260%;
    transition: 0.25s;
    z-index: -1;
    opacity: 0;
    transform: rotate(35deg);
  }
  &:hover {
    color: rgb(9, 5, 47);
  }
  &:hover::after {
    visibility: visible;
    left: -5%;
    top: -80%;
    opacity: 1;
  }
  &:active{
    border: 1px solid rgb(0, 160, 148);
  }
  &:active::after{
    background-color: rgb(0, 160, 148);
  }
}
// ------------------------------------ title ------------------------------------------------------------------------
.title{
  @include titleFontBold;
  font-size: 22px;
  color: rgb(65, 61, 75);
  line-height: 1.2;
}
// ----------------------------------------- description-text ---------------------------------------------------------
.description-text{
  @include robotoLight;
  font-size: 14px;
  color: rgba(65, 61, 75, 0.749);
  line-height: 1.571;
}