@import "~normalize.css";
@import "base";
@import "vars";
@import "lightbox";

//================================= HEADER START ======================================================================
.header{
  //background-image: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  position: relative;
  background: url("./../images/bg/header-bg.png") center;
  background-size: cover;
  &__container{
    max-width: 980px;
    padding: 15px 20px 0;
    @media (max-width: 1366px) {
      max-width: 940px*1.2;
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{

  }
  &__nav{

  }
  &__menu{

  }
  &__content{
    padding: 163px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1366px) {
      padding-top: 163px*0.75;
    }
    @media (max-width: 768px) {
      padding-top: 163px*0.45;
    }
  }
  &__slider{
    max-width: 780px;
    width: 100%;
    z-index: 0;
  }

}
//================================= HEADER END =======================================================================
//================================= ABOUT START ======================================================================
.about{
  &__container{
    max-width: 980px;
    padding: 70px 20px;
    @media (max-width: 680px) {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
  &__content{
    display: flex;
    @media (max-width: 680px) {
      flex-flow: column;
      align-items: center;
    }
  }
  &__picture{
    background: url("./../images/pic/story-pic.png") no-repeat center top;
    flex-basis: 42.5%;
    @media (max-width: 1024px) {
      background-position: 20px center;
    }
    @media (max-width: 768px) {
      background-position: left center;
    }
    @media (max-width: 680px) {
      background-size: contain;
      flex-basis: auto;
      width: 70px;
      height: 70px;
      margin-bottom: 35px;
    }
  }
  &__article{
    flex-basis: 57.5%;
  }
  &__title{
    margin-bottom: 25px;
    @media (max-width: 680px) {
     text-align: center;
    }
  }
  &__description-text{
    margin-bottom: 27px;
    & p{
      margin-bottom: 26px;
      &:last-child{
        margin: 0;
      }
    }
  }
  &__button{

  }
  &__video{

  }

}
//================================= ABOUT END =======================================================================
//================================= EXPERTISE START =================================================================
.expertise{

  &__container{
    max-width: 980px;
    padding: 70px 20px 50px;
  }
  &__content{
    padding-top: 40px;
    @media (max-width: 850px) {
      display: flex;
      justify-content: center;
    }
    @media (max-width: 540px) {
      flex-flow: column;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    &:first-child{
      border-bottom: 1px solid #ebebeb;
      @media (max-width: 850px) {
        border: none;
        margin-right: 50px;
      }
      @media (max-width: 540px) {
        margin: 0;
      }
    }
    @media (max-width: 850px) {
      flex-flow: column;
      justify-content: flex-start;
    }
  }
  &__col{
    flex: 0 1 300px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    @media (max-width: 540px) {
      padding: 20px 0;
      flex: 0 1 auto;
    }
  }
  &__item{

  }
}
//================================= EXPERTISE END ======================================================================
//================================= TEAM START =========================================================================
.team{
  position: relative;
  background: url("./../images/bg/team-bg.png") center;
  background-size: cover;
  &__container{
    max-width: 980px;
    padding: 70px 20px 60px;
  }
  &__section-head{
    margin-bottom: 47px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
    @media (max-width: 990px) {
      flex-wrap: wrap;
      margin-bottom: 70-25px;
    }
  }
  &__col{
    flex: 0 1 220px;
    @media (max-width: 990px) {
      flex: 0 1 45%;
      display: flex;
      margin-bottom: 25px;
      &:nth-child(odd) {
        justify-content: flex-end;
      }
    }
    @media (max-width: 500px) {
      flex: 0 1 100%;
      justify-content: center;
      &:nth-child(odd) {
        justify-content: center;
      }
    }
  }
  &__member{
    z-index: 1;
  }
  &__footer{
    display: flex;
    align-items: center;
    flex-flow: column;

  }
  &__announcement{
    @include robotoLight;
    font-size: 14px;
    color: rgb(243, 243, 243);
    line-height: 1.2;
    margin-bottom: 25px;
    z-index: 1;
  }
  &__button{

  }
}

.team-member{
  max-width: 220px;
  &__photo{
    width: 100%;
    max-height: 230px;
    & img{
      width: 100%;
    }
  }
  &__about{
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    padding: 22px 0 24px;
    text-align: center;
  }
  &__name{
    @include robotoBlack;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
  }
  &__position{
    @include robotoLight;
    font-size: 13px;
    color: rgba(250, 250, 250, 0.702);
  }
}
//================================= TEAM END ===========================================================================
//================================= WORKS START ========================================================================

.works{
  &__container{
    max-width: 980px;
    padding: 70px 20px;
    @media (max-width: 640px) {
      padding: 55px 20px;
    }
  }
  &__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 640px) {
      flex-flow: column;
    }
  }
  &__title{
    @media (max-width: 640px) {
      margin-bottom: 30px;
    }
  }
  &__link{
    @include robotoLight;
    font-size: 14px;
    color: rgb(65, 61, 75);
    line-height: 1.2;
    position: relative;
    padding-right: 18px;
    &:after{
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      border-right: 1px solid rgb(65, 61, 75);
      border-bottom: 1px solid rgb(65, 61, 75);
      position: absolute;
      right: 0; top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      transition: .3s;
    }
    &:hover{
      &:after{
        animation: left-to-right .4s alternate infinite;
      }
    }
  }
  &__gallery{

  }
}

@keyframes left-to-right {
  0% {
    right: 0;
  }
  100% {
    right: -4px;
  }
}

.gallery{
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }
  &__item{
    flex: 0 1 16.6666%;
    height: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: none;
    opacity: 0;
    transform: scale(0.1);
    transition: .4s;
    &_shown{
      display: block;
    }
    &_transitioning{
      height: 200px;
      opacity: 1;
      transform: scale(1);
    }
    @media (max-width: 1080px) {
      flex: 0 1 33.333%;
    }
    @media (max-width: 640px) {
      flex: 0 1 50%;
    }
    @media (max-width: 450px) {
      flex: 0 1 100%;
    }
    &:hover{
      & img{
        transform: scale(1.1);
      }
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s;
    }
  }
  &__button-wrapper{
    margin: 70px auto;
    display: flex;
    justify-content: center;
    transition: 1s;
  }
  &__button{
    transition: opacity 0.4s;
    &_fading{
      opacity: 0;
    }
  }
}


