
//// FONTS

@mixin robotoThin{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
@mixin robotoLight{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@mixin robotoRegular{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin robotoBlack{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
@mixin playfairBlack{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
@mixin playfairBold{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}
@mixin playfairRegular{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}