
//// FONTS

@mixin robotoThin{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
@mixin robotoLight{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@mixin robotoRegular{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin robotoBlack{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
@mixin logoFont{

}